
pushd massregister

HERE=`pwd`

function call() {
	echo "Calling: $1"
	$1
}

PASSWORD_FILE="$HERE/users.csv"
AUTHENTICATION_VALUE="true"
AUTH_PREFIX="-auth"
MYSQL_PORT=${MYSQL_PORT:=3307}


echo "Preparing test"

COMMAND="$HERE/prepare_test.py $NB_USERS"
call $COMMAND


echo "Populating Mysql DB"
# populate the Mysql DB
COMMAND="mysql -uroot -P $MYSQL_PORT < users.sql"
call $COMMAND


# trace statistics about registration
REG_OPTIONS="$REG_OPTIONS -trace_stat -stf sipp_stat.log -fd 10"

popd