
pushd massregister

HERE=`pwd`

PASSWORD_FILE="$HERE/users.csv"
AUTHENTICATION_VALUE="true"
MYSQL_PORT=${MYSQL_PORT:=3307}


echo "Preparing test"
$HERE/prepare_test.py $NB_USERS


echo "Populating Mysql DB"
# populate the Mysql DB
mysql -uroot -P $MYSQL_PORT < users.sql


# trace statistics about registration
REG_OPTIONS="$REG_OPTIONS -trace_stat -stf sipp_stat.log -fd 10"

popd