
pushd massregister

HERE=`pwd`


PASSWORD_FILE="$HERE/users.csv"
AUTHENTICATION_VALUE="true"
AUTH_PREFIX="-auth"
MYSQL_PORT=${MYSQL_PORT:=3307}
SKIP_REGISTERS="1"


echo "Preparing test"

COMMAND="$HERE/prepare_test.py $NB_USERS"
echo $COMMAND
$COMMAND


echo "Populating Mysql DB"
mysql -uroot -P $MYSQL_PORT < users.sql


# trace statistics about registration
INV_OPTIONS="$INV_OPTIONS -trace_stat -stf sipp_stat.log -fd 10 -inf $HERE/users.csv"

popd