. launch.config.perso

OUTBOUND_PROXY_PORT=5099

INV_OPTIONS="-r $INV_RATE -rp 1s -default_behaviors all,-bye -l $NB_USERS -d "$CALL_LENGTH"s"

FLEX_TRANSCO_OPTIONS="--configfile $FOLDER/flexisip_transcoder.conf --port $OUTBOUND_PROXY_PORT"

CMD_TRANSCO="$FLEXISIP $FLEX_TRANSCO_OPTIONS --daemon"
echo -e "\n\033[1mStart flexisip transcoder: $CMD_TRANSCO \033[0m"
$CMD_TRANSCO  2>&1 > flexisip_transcoder.log 
sleep 2s

SIPP_COMMONS="-rsa $IP:$OUTBOUND_PROXY_PORT"
