SIPP=/home/guillaume/dev/sipp/sipp/trunk/sipp
FLEXISIP=/home/guillaume/dev/inst/bin/flexisip
OUTBOUND_PROXY_PORT=5099
CALL_LENGTH=180
NB_USERS=10000
#NB_USERS=1
export LD_LIBRARY_PATH=/home/guillaume/dev/inst/lib/
#export SOFIA_DEBUG=9
REG_OPTIONS="-r 10 -rp 1s -nd --users 100 -inf authentication.csv -set authentify 'true'"
REG_INVITER_OPTIONS="-nd -set authentify 'true'"
INV_RATE=`echo $NB_USERS / $CALL_LENGTH | bc`
[ $NB_USERS -le $CALL_LENGTH ] && INV_RATE=1
INV_OPTIONS="-r $INV_RATE -rp 1s -default_behaviors all,-bye -l $NB_USERS -d "$CALL_LENGTH"s -inf authentication.csv -set authentify 'true'"

#FLEX_OPTIONS="--debug"


FLEX_TRANSCO_OPTIONS="--configfile $FOLDER/flexisip_transcoder.conf --port $OUTBOUND_PROXY_PORT"

echo "Start flexisip transcoder: $FLEX_TRANSCO_OPTIONS"
$FLEXISIP $FLEX_TRANSCO_OPTIONS 2>&1 > flexisip_transcoder.log &
sleep 2s

SIPP_COMMONS="-rsa $IP:$OUTBOUND_PROXY_PORT"
