INSTALL
aclocal.m4
*~
configure
Makefile.in
Makefile
build-aux
m4
autom4te.cache
*.o
*.lo
*.la
config.log
config.status
.deps
.libs
libtool
depcomp
missing
install-sh
src/pb_generated_src_stamp
Debug
flexisip.spec
*protobuf.pb.*
*.rdb
src/flexisip
*.aux
*.tmp.tex
*.toc
tests/logs
doc/flexisip_guide.log
doc/flexisip_guide.out
doc/flexisip_guide.pdf
vgcore.*
core
core.*
*.backup
