#################################################
# Base configuration
#################################################

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  CCACHE_SIZE: 2G
  # For build and test on Linux
  DEFAULT_CMAKE_OPTIONS: '-DCMAKE_BUILD_TYPE=Sanitizer'
  # For build on MacOS
  DEFAULT_MACOS_CMAKE_OPTIONS: ''
  # For packaging, deb and rpm
  DEFAULT_PACKAGING_CMAKE_OPTIONS: '-DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_INSTALL_PREFIX=/opt/belledonne-communications -DSYSCONF_INSTALL_DIR=/etc -DFLEXISIP_SYSTEMD_INSTALL_DIR=/lib/systemd/system'

  # Docker image version
  ARCHLINUX_IMAGE_VERSION: 20220414_remove_ffmpeg
  CENTOS_7_IMAGE_VERSION: 20220112_add_libasan
  CENTOS_8_IMAGE_VERSION: 20211004_remove_hiredis
  DEBIAN_9_IMAGE_VERSION: 20210624_packaging
  DEBIAN_10_IMAGE_VERSION: 20211018_mariadb_server
  DEBIAN_11_IMAGE_VERSION: 20220420_remove_ffmpeg
  UBUNTU_18_04_IMAGE_VERSION: 20210624_packaging
  UBUNTU_ROLLING_IMAGE_VERSION: 20210624_packaging

before_script:
  - git submodule foreach --recursive git fetch --tags

#################################################
# Platforms to test
#################################################

include:
  - '.gitlab-ci-files/job-linux.yml'
  - '.gitlab-ci-files/job-linux-archlinux.yml'
  - '.gitlab-ci-files/job-linux-centos7.yml'
  - '.gitlab-ci-files/job-linux-centos8.yml'
  - '.gitlab-ci-files/job-linux-debian9.yml'
  - '.gitlab-ci-files/job-linux-debian10.yml'
  - '.gitlab-ci-files/job-linux-debian11.yml'
#  - '.gitlab-ci-files/job-linux-ubuntu-rolling.yml'
  - '.gitlab-ci-files/job-linux-ubuntu-18.04.yml'
  - '.gitlab-ci-files/job-macosx.yml'



stages:
 - build
 - test
 - package
 - image
 - deploy
