#################################################
# Base configuration
#################################################

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  MAKEFILE_JOBS: 5
  CCACHE_SIZE: 2G
  DEFAULT_CMAKE_OPTIONS: '-DCMAKE_BUILD_TYPE=RelWithDebInfo -DSYSCONF_INSTALL_DIR=/etc'
  DEFAULT_MACOS_CMAKE_OPTIONS: ''

  # Docker image version
  ARCHLINUX_IMAGE_VERSION: 20210624_packaging
  CENTOS_7_IMAGE_VERSION: 20210624_packaging
  CENTOS_8_IMAGE_VERSION: 20210624_packaging
  DEBIAN_9_IMAGE_VERSION: 20210624_packaging
  DEBIAN_10_IMAGE_VERSION: 20210624_packaging
  UBUNTU_18_04_IMAGE_VERSION: 20210624_packaging
  UBUNTU_ROLLING_IMAGE_VERSION: 20210624_packaging

before_script:
  - git submodule foreach --recursive git fetch --tags

#################################################
# Platforms to test
#################################################

include:
  - '.gitlab-ci-files/job-linux.yml'
  - '.gitlab-ci-files/job-linux-archlinux.yml'
  - '.gitlab-ci-files/job-linux-centos7.yml'
  - '.gitlab-ci-files/job-linux-centos8.yml'
  - '.gitlab-ci-files/job-linux-debian9.yml'
  - '.gitlab-ci-files/job-linux-debian10.yml'
#  - '.gitlab-ci-files/job-linux-ubuntu-rolling.yml'
  - '.gitlab-ci-files/job-linux-ubuntu-18.04.yml'
  - '.gitlab-ci-files/job-macosx.yml'



stages:
 - build
 - test
 - package
 - image
 - deploy
