#################################################
# Base configuration
#################################################

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  MAKEFILE_JOBS: 5
  CCACHE_SIZE: 2G
  DEFAULT_CMAKE_OPTIONS: -DENABLE_CONFERENCE=ON -DENABLE_JWE_AUTH_PLUGIN=ON -DENABLE_EXTERNAL_AUTH_PLUGIN=ON -DENABLE_PRESENCE=ON -DENABLE_PROTOBUF=ON -DENABLE_SNMP=ON -DENABLE_SOCI=ON -DENABLE_TRANSCODER=ON
  DEFAULT_MACOS_CMAKE_OPTIONS: -DENABLE_CONFERENCE=ON -DENABLE_JWE_AUTH_PLUGIN=ON -DENABLE_PRESENCE=ON -DENABLE_PROTOBUF=ON -DENABLE_SNMP=OFF -DENABLE_SOCI=ON -DENABLE_TRANSCODER=ON

#################################################
# Platforms to test
#################################################

include:
  - '.gitlab-ci-files/job-linux.yml'
  - '.gitlab-ci-files/job-linux-archlinux.yml'
  - '.gitlab-ci-files/job-linux-centos7.yml'
  - '.gitlab-ci-files/job-linux-debian8.yml'
  - '.gitlab-ci-files/job-linux-debian9.yml'
  - '.gitlab-ci-files/job-linux-ubuntu.yml'
  - '.gitlab-ci-files/job-macosx.yml'



stages:
 - build
 - package
 - image
 - deploy