[submodule "submodules/externals/sofia-sip"]
	path = submodules/externals/sofia-sip
	url = https://gitlab.linphone.org/BC/public/external/sofia-sip.git
[submodule "submodules/externals/hiredis"]
	path = submodules/externals/hiredis
	url = https://gitlab.linphone.org/BC/public/external/hiredis.git
[submodule "submodules/externals/jansson"]
	path = submodules/externals/jansson
	url = https://gitlab.linphone.org/BC/public/external/jansson.git
[submodule "submodules/externals/jose"]
	path = submodules/externals/jose
	url = https://gitlab.linphone.org/BC/public/external/jose.git
[submodule "linphone-sdk"]
	path = linphone-sdk
	url = https://gitlab.linphone.org/BC/public/linphone-sdk.git
