variables:
  UBUNTU22_CMAKE_OPTIONS: -DINTERNAL_LIBHIREDIS=ON -DENABLE_OPENID_CONNECT=OFF -DENABLE_EKT_SERVER=ON

.ubuntu-22-04-image:
  image:
    name: gitlab.linphone.org:4567/bc/public/flexisip/bc-dev-ubuntu-22-04:$UBUNTU_22_04_IMAGE_VERSION
  variables:
    CMAKE_OPTIONS: ${UBUNTU22_CMAKE_OPTIONS}

#################################################
# Makefile
#################################################

job-ubuntu-22-04-makefile-gcc:
  extends:
    - .job-makefile-gcc
    - .ubuntu-22-04-image
    - .rules-never-run  # ⚠ See `rules.yml`, override .job-makefile-gcc rules


job-ubuntu-22-04-makefile-clang:
  extends:
    - .job-makefile-clang
    - .ubuntu-22-04-image
    - .rules-never-run  # ⚠ See `rules.yml`, override .job-makefile-clang rules

#################################################
# Ninja
#################################################

job-ubuntu-22-04-ninja-gcc:
  extends:
    - .job-ninja-gcc
    - .ubuntu-22-04-image


job-ubuntu-22-04-ninja-clang:
  extends:
    - .job-ninja-clang
    - .ubuntu-22-04-image
    - .tester-artifacts
  variables:
    CMAKE_OPTIONS: ${UBUNTU22_CMAKE_OPTIONS} -DENABLE_UNIT_TESTS=ON

#################################################
# UNIT TESTS
#################################################

job-ubuntu-22-04-unit-test:
  extends:
    - .unit-test
    - .ubuntu-22-04-image
  needs:
    - job-ubuntu-22-04-ninja-clang

#################################################
# DEB
#################################################

job-ubuntu-22-04-deb:
  extends:
    - .job-linux-deb
    - .ubuntu-22-04-image
    - .rules-manual-deploy # ⚠ See `rules.yml`, override .job-linux-deb rules
  needs:
    - job: job-ubuntu-22-04-unit-test
      optional: true
      artifacts: false
    - job: job-ubuntu-22-04-ninja-clang
      optional: true
      artifacts: false


job-ubuntu-22-04-deb-deploy:
  extends:
    - .job-deploy
    - .ubuntu-22-04-image
  variables:
    DISTRIB: ubuntu
    RELEASE: jammy
  dependencies:
    - job-ubuntu-22-04-deb
