.ubuntu-22-04-image:
  image:
    name: gitlab.linphone.org:4567/bc/public/flexisip/bc-dev-ubuntu-22-04:$UBUNTU_22_04_IMAGE_VERSION

#################################################
# Makefile
#################################################

job-ubuntu-22-04-makefile-gcc:
  extends:
    - .job-makefile-gcc
    - .ubuntu-22-04-image
    - .rules-never-run  # ⚠ See `rules.yml`, override .job-makefile-gcc rules


job-ubuntu-22-04-makefile-clang:
  extends:
    - .job-makefile-clang
    - .ubuntu-22-04-image
    - .rules-never-run  # ⚠ See `rules.yml`, override .job-makefile-clang rules

#################################################
# Ninja
#################################################

job-ubuntu-22-04-ninja-gcc:
  extends:
    - .job-ninja-gcc
    - .ubuntu-22-04-image


job-ubuntu-22-04-ninja-clang:
  extends:
    - .job-ninja-clang
    - .ubuntu-22-04-image
  variables:
    CMAKE_OPTIONS: -DENABLE_UNIT_TESTS=ON -DENABLE_UNIT_TESTS_MYSQL=ON
  artifacts:
    paths:
      - OUTPUT/*

#################################################
# UNIT TESTS
#################################################

job-ubuntu-22-04-unit-test:
  extends:
    - .unit-test
    - .ubuntu-22-04-image
  needs:
    - job-ubuntu-22-04-ninja-clang

#################################################
# DEB
#################################################

job-ubuntu-22-04-deb:
  extends:
    - .job-linux-deb
    - .ubuntu-22-04-image
    - .rules-manual # ⚠ See `rules.yml`, override .job-linux-deb rules


job-ubuntu-22-04-deb-deploy:
  extends:
    - .job-debian-deb-deploy
    - .ubuntu-22-04-image
  variables:
    RELEASE: bionic
    FREIGHT_PATH: $UBUNTU_FREIGHT_CONF_PATH
  dependencies:
    - job-ubuntu-22-04-deb
  needs:
    - job-ubuntu-22-04-deb
