#################################################
# Makefile
#################################################

job-debian10-makefile-gcc:

  tags: [ "docker-debian10" ]
  image: gitlab.linphone.org:4567/bc/public/flexisip/bc-dev-debian10:$DEBIAN_10_IMAGE_VERSION
  except:
    variables:
      - $DEPLOY_RUN
      - $DEPLOY_UBUNTU
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: gcc
    CXX: g++
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .scheduled-job-linux


job-debian10-makefile-clang:

  tags: [ "docker-debian10" ]
  image: gitlab.linphone.org:4567/bc/public/flexisip/bc-dev-debian10:$DEBIAN_10_IMAGE_VERSION
  except:
    variables:
      - $DEPLOY_RUN
      - $DEPLOY_UBUNTU
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: clang
    CXX: clang++
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .scheduled-job-linux

#################################################
# Ninja
#################################################

job-debian10-ninja-gcc:

  tags: [ "docker-debian10" ]
  image: gitlab.linphone.org:4567/bc/public/flexisip/bc-dev-debian10:$DEBIAN_10_IMAGE_VERSION
  except:
    variables:
      - $DEPLOY_RUN
      - $DEPLOY_UBUNTU
  variables:
    CMAKE_GENERATOR: Ninja
    CC: gcc
    CXX: g++
  extends: .scheduled-job-linux


job-debian10-ninja-clang:

  tags: [ "docker-debian10" ]
  image: gitlab.linphone.org:4567/bc/public/flexisip/bc-dev-debian10:$DEBIAN_10_IMAGE_VERSION
  except:
    variables:
      - $DEPLOY_RUN
      - $DEPLOY_UBUNTU
  variables:
    CMAKE_GENERATOR: Ninja
    CC: clang
    CXX: clang++
    CMAKE_OPTIONS: -DENABLE_UNIT_TESTS=ON
  extends: .job-linux
  artifacts:
    paths:
       - OUTPUT/*

#################################################
# XWiki reference documentation
#################################################
job-debian10-xwiki-doc-deploy:
  stage: build
  tags: [ "docker" ]
  image: gitlab.linphone.org:4567/bc/public/flexisip/bc-dev-debian10:$DEBIAN_10_IMAGE_VERSION

  only:
    variables:
      - $SCHEDULE_RUN

  script:
    - prefix=/opt/belledonne-communications
    - sudo mkdir -p $prefix
    - sudo chown bc:bc $prefix
    - ./prepare.py -DCMAKE_INSTALL_PREFIX=$prefix -DCMAKE_PREFIX_PATH=$prefix $DEFAULT_CMAKE_OPTIONS
    - make -j$MAKEFILE_JOBS
    - /usr/bin/python3 ./doc/xw.py --flexisip-binary $prefix/bin/flexisip -H $XWIKI_HOSTNAME -u $XWIKI_USERNAME -p $XWIKI_PASSWORD

#################################################
# DEB
#################################################

job-debian10-deb:

  tags: [ "docker-debian10" ]
  image: gitlab.linphone.org:4567/bc/public/flexisip/bc-dev-debian10:$DEBIAN_10_IMAGE_VERSION
  extends: .job-linux-deb
  except:
    variables:
      - $DEPLOY_UBUNTU


job-debian10-deb-deploy:

  except:
    variables:
      - $DEPLOY_UBUNTU
  variables:
    RELEASE: buster
    FREIGHT_PATH: $DEBIAN_FREIGHT_CONF_PATH
  extends: .job-debian-deb-deploy
  dependencies:
    - job-debian10-deb


#################################################
# UNIT TESTS
#################################################

job-debian10-unit-test:
  stage : test
  tags: [ "docker-debian10" ]
  image: gitlab.linphone.org:4567/bc/public/flexisip/bc-dev-debian10:$DEBIAN_10_IMAGE_VERSION
  except:
    variables:
      - $DEPLOY_RUN
      - $DEPLOY_UBUNTU
  needs :
    - job-debian10-ninja-clang
  script :
    - export LD_LIBRARY_PATH=/usr/local/lib
    - ./OUTPUT/bin/flexisip_tester --verbose || exit $?
  artifacts :
    reports :
        junit :
          - BCUnitAutomated-Results.xml
