#################################################
# Makefile
#################################################

job-debian8-makefile-gcc:

  tags: [ "docker-debian8" ]
  image: gitlab.linphone.org:4567/bc/public/flexisip/bc-dev-debian:8
  except:
    variables:
      - $DEPLOY_RUN
      - $DEPLOY_UBUNTU
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: gcc
    CXX: g++
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .scheduled-job-linux


job-debian8-makefile-clang:

  tags: [ "docker-debian8" ]
  image: gitlab.linphone.org:4567/bc/public/flexisip/bc-dev-debian:8
  except:
    variables:
      - $DEPLOY_RUN
      - $DEPLOY_UBUNTU
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: clang
    CXX: clang++
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .scheduled-job-linux

#################################################
# Ninja
#################################################

job-debian8-ninja-gcc:

  tags: [ "docker-debian8" ]
  image: gitlab.linphone.org:4567/bc/public/flexisip/bc-dev-debian:8
  except:
    variables:
      - $DEPLOY_RUN
      - $DEPLOY_UBUNTU
  variables:
    CMAKE_GENERATOR: Ninja
    CC: gcc
    CXX: g++
  extends: .job-linux


job-debian8-ninja-clang:

  tags: [ "docker-debian8" ]
  image: gitlab.linphone.org:4567/bc/public/flexisip/bc-dev-debian:8
  except:
    variables:
      - $DEPLOY_RUN
      - $DEPLOY_UBUNTU
  variables:
    CMAKE_GENERATOR: Ninja
    CC: clang
    CXX: clang++
  extends: .scheduled-job-linux

#################################################
# DEB
#################################################

job-debian8-deb:

  except:
    variables:
      - $DEPLOY_UBUNTU
  tags: [ "docker-debian8" ]
  image: gitlab.linphone.org:4567/bc/public/flexisip/bc-dev-debian:8
  extends: .job-linux-deb


job-debian8-deb-deploy:

  except:
    variables:
      - $DEPLOY_UBUNTU
  variables:
    RELEASE: jessie
    FREIGHT_PATH: $DEBIAN_FREIGHT_CONF_PATH
  extends: .job-debian-deb-deploy
  dependencies:
    - job-debian8-deb
