SIPP=/home/guillaume/dev/sipp/sipp/trunk/sipp
FLEXISIP=/home/guillaume/dev/inst/bin/flexisip
NB_USERS=250
#NB_USERS=1
export LD_LIBRARY_PATH=/home/guillaume/dev/inst/lib/
REG_OPTIONS="-r 10 -rp 1s -default_behaviors all,-bye --users 100"
CALL_LENGTH=200
INV_RATE=`echo $NB_USERS / $CALL_LENGTH | bc`
[ $NB_USERS -le $CALL_LENGTH ] && INV_RATE=1
INV_OPTIONS="-r $INV_RATE -rp 1s -default_behaviors all,-bye -l $NB_USERS -d "$CALL_LENGTH"s"
