#
# Default configuration file for flexisip SIP proxy
#
# No configuration is required to start.
# Uncomment relevant section when needed.

#Global section
[global]
#
#Debug mode: outputs everything in stdout or syslog, possible values 0 or 1
#debug=0
#Tell the proxy its list of aliases separated by commas, that is domain names or IP address it can be reached with
#aliases=sip.example.org somehost1.com, somehost2.com
#
#[module::Authentication]
#auth_domains=sip.example.org

#[module::Registrar]
#reg_domains=sip.example.org

#[module::Authentication]
#auth_domains=sip.example.org
#datasource=DSN=PostgreSQL test;
#request=select password from accounts where id = ?
#max_id_length=64
#max_password_length=34
#hashed_passwords=true