SIPP=/home/guillaume/dev/sipp/sipp/trunk/sipp
FLEXISIP=/home/guillaume/dev/inst/bin/flexisip
NB_USERS=10000
#NB_USERS=1
CALL_LENGTH=180
export LD_LIBRARY_PATH=/home/guillaume/dev/inst/lib/
AUTH=" -set authentify 'true'"
#AUTH=""
#export SOFIA_DEBUG=9
REG_OPTIONS="-r 10 -rp 1s -nd --users 100 -inf authentication.csv $AUTH"
REG_INVITER_OPTIONS="-nd $AUTH"
INV_RATE=`echo $NB_USERS / $CALL_LENGTH | bc`
[ $NB_USERS -le $CALL_LENGTH ] && INV_RATE=1
INV_OPTIONS="-r $INV_RATE -rp 1s -default_behaviors all,-bye -l $NB_USERS -d "$CALL_LENGTH"s -inf authentication.csv $AUTH"

